* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}
html {
  background: #222;

  color: yellow;
}
.container {
  line-height: 5rem;
  padding-top: 15rem;
  display: flex;
  flex-direction: column;
  justify-items: center;
  justify-content: center;
  align-content: center;
  align-items: center;
}
.container a {
  color: yellow;
  text-decoration: yellow;
  padding-top: 2rem;
  font-size: 2rem;
}
